<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <table id = 'exerciseTable'>
      <tbody id = 10>
       <tr id = 'headers'>
         <th class ="exName" align="left">Exercise Name</th>
         <th id ="reps" align="left">Reps</th>
       </tr>
      </tbody>
    </table>
  </body>
  <script src="./javascripts/workouts.js"></script>
</html>