<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>

  <body>
    <h1>Create</h1>
  <h class = 'exercise'>Exercise</h>         <h class = 'reps'>Reps</h>

  
    
  <script src="./javascripts/workouts.js"></script>
  </body> 

</html>