<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>Create</h1>
  <h class = 'exercise'>Exercise</h>         <h class = 'reps'>Reps</h>



  <script src="../javascripts/workouts.js"></script>
  </body>

</html>