<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <!-- <img src= "./images/plusSignGreen.jpg"/> -->
    <h1>Create</h1>
  <h class = 'exercise'>Exercise</h>         <h class = 'reps'>Reps</h>
<<<<<<< Updated upstream



  <script src="../javascripts/workouts.js"></script>
  </body>
=======
    
  <script src="../javascripts/workouts.js"></script>
  </body> 
>>>>>>> Stashed changes

</html>

