<!DOCTYPE html>
<html>
<head>
	<style>
	#loginBlock {margin: auto; width: 100%; height: 60px ;background-color: black;}
	#quickDescripDiv {height: 260px; margin-top: 60px; padding-top: 10px; background-color: black;}
	#heading {display: block; margin: 0; background-color: black; width: 100%; height: 60px;}
	a {text-decoration: none; font-family: "arial black"; }
	</style>
</head>

<body style = "margin: 0px; min-width: 1250px;">
<div id='heading'>
	<span style="position: absolute; left: 1150px; top: 20px;"><a id="login" style= "color: white;  "color: white" href="login.html" >Log In</a></span>
<div>
<center>
<img style = "width: 50%; position: relative; top: 60px;" src = "backgroundpic1-edit.jpg" />
<div id="quickDescripDiv">
	<span id="create">
	<img id = "createOff" style="width: 200px; height: 150px;" src="createOff.jpg"/>
	<img id = "createOn" style="display: none; width: 200px; height: 150px;" src="createOn.jpg"/>
	</span>
	<span id="save">
	<img id = "saveOff" style="width: 200px; height: 150px;" src="saveOff.jpg"/>
	<img id = "saveOn" style="display: none; width: 200px; height: 150px;" src="saveOn.jpg"/>
	</span>
	<span id="run">
	<img id = "runOff" style="width: 200px; height: 150px;" src="runOff.jpg"/>
	<img id = "runOn" style="display: none; width: 200px; height: 150px;" src="runOn.jpg"/>
	</span>
	<span id="share">
	<img id = "shareOff" style="width: 200px; height: 150px;" src="shareOff.jpg"/>
	<img id = "shareOn" style="display: none; width: 200px; height: 150px;" src="shareOn.jpg"/>
	</span>
	<span id="search">
	<img id = "searchOff" style="width: 200px; height: 150px;" src="searchOff.jpg"/>
	<img id = "searchOn"style="display: none; width: 200px; height: 150px;" src="searchOn.jpg"/>
	</span>
	<span id="profit">
	<img id = "profitOff" style="width: 200px; height: 150px;" src="profitOff.jpg"/>
	<img id = "profitOn" style="display: none; width: 200px; height: 150px;" src="profitOn.jpg"/>
	</span>
</div>
</center>
<p id="loginBlock">
</p>


 <script src="script.js"  src="jquery.js"></script>
</body>
</html>