 <!DOCTYPE html>
<html>

<head>
</head>

<body>
	<form id="profileGeneral">
		Name
		<br>
		<input type="text" value="First">
		<input type="text" value="Last">
		<br>
		Choose your username
		<br>
		<input type="text">
		<br>
		Create password
		<br>
		<input type="text">
		<br>
		Confirm password
		<br>
		<input type="text">
		<br>
		Birthday
		<br>
		<select>
			<option>January</option>
			<option>February</option>
			<option>March</option>
			<option>April</option>
			<option>May</option>
			<option>June</option>
			<option>July</option>
			<option>August</option>
			<option>September</option>
			<option>October</option>
			<option>November</option>
			<option>December</option>
		</select>
		<input type="text" value="Day">
		<input type="text" value="Year">
		<br>
		Gender
		<br>
		<select>
			<option>Male</option>
			<option>Female</option>
		</select>
		<br>
		email
		<br>
		<input type="text">
		<br>		
	</form>
	<a href= "register2.html">Next</a>


</body>



</html>