body, #runBody {
  max-width:50%;
  min-width:800px;
  min-height:21%;
}

#runBody {height: 90%;}



div {width: 425px;}
h {margin-bottom: 0;}
span, h {width: 200px;}

.exercise {font-size: 20px; margin-bottom: 20px; display: inline-block;} 

.flippedEx, .flippedReps {width: 200px; height: 21px; margin-left: 0; margin-right: 0; 
                          display: inline-block;}
.reps {font-size: 20px; width: 100px; margin-bottom: 20px; display: inline-block;}

.repsInput {width: 40px;}
.setsInput {width: 33px;}
.restInput {width: 45px;}

#setsSpan, #flippedSets, #restSpan, #flippedRest {margin-left: 30px;}

#dropdown {height: 23px;}

.deleteButton {visibility: hidden; position: absolute;}


/*Review page styles*/

table, th, td, tr {
  border-collapse: collapse;
}
 
.reviewTables {margin-bottom: 30px;}

.reviewHeaders {font-size: 18px;}

#setsTh {text-align: left; padding-right: 40px;} 
#exerciseTh {width: 175px; text-align: left; padding-right: 50px;}
#repsTh {text-align: left; padding-right: 60px;}
#restTh {text-align: left; padding-left: 60px;}

#saveButton {margin-top: 100px; height: 40px; width: 90px; display: inline-block;}
#nameWorkoutInput {display: inline-block;}

#restTd {text-align: left; width: 75px;}
.reviewExName {left: 20px; width: 175px; height: 20px;}
.reviewReps {width: 50px;}
.reviewWeight {width: 125px;}
.weightInput {width: 50px;}
.reviewSets {border-right: solid black 2px; text-align: center; width: 50px;}

/* run page styles */

#setsTracker {font-size: 15px}
#tableRun {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
}
.exNameTdRun {width: 125px; text-align: left;}
.repsTdRun {text-align: left; width: 50px;}
.weightTdRun {text-align: left; width: 50px;}


#exDivRun, #firstExDivRun, #restCountdownDiv, #restTimer {font-size: 25px; text-align: center;}
#firstExDivRun, #restCountdownDiv, #restTimer {margin-top: 100};
#exSpanRun {display: inline-block; margin-right: 200px;}
#repsSpanRun {display: inline-block;}
#runPreview {font-size: 20px;}
#nextButton {display: right; height: 200px; width: 300px; font-size: 25px;}
#restTimer {font-size: 60px;}
